html {
    
}

body
{

}

.myheader {
    float: left;
    display: inline-block;
    position: relative;
    left: 80%;
}

.boards
{
    
}

h1 
{
    float: left;
    display: inline-block;
    color: black;
    font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
    text-shadow: 2px 2px 5px grey;
    width: 100%;
    height: 30%;
    position: relative;
    top: 1%;
    left: 5%;
}

h3
{

    
}

.register
{
    
}
.login
{
    
}
